streamlit
langchain
langchain-community
langchain-chroma
langchain-core
langchain-huggingface
transformers
openai
faiss-cpu
tiktoken
streamlit
torch
sentence-transformers
chromadb
pysqlite3-binary
accelerate
